@import 'colors'

.contacts
  text-align: center


.contacts-logo
  // animation: App-logo-spin infinite 20s linear
  height: 80px

.contacts__list
  display: flex
  flex-wrap: wrap

.contacts-header
  background-color: $tictail__black
  height: 150px
  padding: 20px
  color: white

.contacts-title
  font-size: 1.5em

.contacts-intro
  font-size: large
