@import 'colors'

.contact__wrapper
  display: flex
  max-width: 304px
  width: 100%
  text-align: left
  border: 1px solid $tictail__border
  padding: 1rem
  margin: 0.5rem
  border-radius: 3px

.contact__image
  width: 50px
  height: 50px
  flex: none
  padding-right: 1rem
  img
    width: 100%
    height: 100%
    border-radius: 50%

.contact__info
  color: $tictail__grey
  flex: 1
  p
    margin: 0
    display: flex
    justify-content: space-between
    word-break: break-word
  span
    font-weight: bold
    flex: none
    margin-right: 0.5rem

.contact__color
  width: 100%
  height: 8px
  margin-bottom: 1rem

.contact__color-input
  padding-left: 1.8rem !important
.contact__color-placeholder
  position: relative
  top: 1rem
  &:before
    content: '#'
    position: absolute
    top: -8px
    left: 15px
    display: block
    font-size: 1.2rem

.contact__button
  border: 1px solid $tictail__light-grey
  background-color: transparent
  padding: 0.5rem 1rem
  margin-top: 1rem
  cursor: pointer
  display: flex
  color: $tictail__grey
  font-weight: 600
  border-radius: 3px
  width: auto
  transition: all .2s
  justify-content: center
  align-items: center
  text-decoration: none
  outline: none
  &--add
    max-width: 304px
    width: 100%
    order: 1
    margin-top: 0
    @media (min-width: 850px)
      order: 0
      max-width: 250px
  &--small
    width: 30%
    @media (min-width: 850px)
      width: auto
  &--search
    margin-top: 0
  &--black
    border: none
    background-color: $tictail__black
    color: $white
    &:hover
      color: $white !important
      border-color: $tictail__hover-btn
      background-color: $tictail__hover-btn

  &:hover
    color: $tictail__black
    border-color: $tictail__black
